*{
	font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.head-top{
	height: 30px;
	text-align: center;
	background-color: #F8F9F9;
}
.head-top p{
	font-size: 13px;
	font-weight: 300;
	line-height: 30px;
	color: #777777;
}
.head-bottom {
	display: flex;
	justify-content: space-between;align-items: center;
}
.head-bottom .logo{
	padding-left: 50px;
	width: 280px;height:60px;
}

.navbar{
	padding-left: 100px;
	z-index: 1;
}

 ul{
	list-style: none;
}

.menu a{
	text-decoration: none;
	color: black;
}

a:hover{color: #F39C12;}

.menu ul{
	position: absolute;
	top: 42px;
	left: 0;
	display: none;
}

.menu li{
	padding-left: 10px;
	float: left;
	line-height: 1.5em;
	position: relative;
	background: white;
	padding: 10px;
}

.menu li:hover{
	background: white;
	cursor: pointer;
	border-bottom: 1px solid black;
}
.menu>li>a{
	padding: 0 8px;
}
.menu ul li{
	border: 1px solid #d7dbdd;
}
.menu ul li:not(.menu ul ul li){width: 175px;}

.menu ul ul{
	left: 173px;
	top: -1px;
}

.menu ul ul li{
	border: 1px solid #d7dbdd;
}
 
.menu-sub-1 li{
	width: 120px;
}

.menu-sub-2 li{
	width: 240px;
}

.icon ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.icon ul li a{
	padding: 17px 18px;
	display: block;
	font-size:30px;
	color: black;
}

.icon ul li:hover{
	cursor: pointer;
}

nav a{
	color: black;
}
nav a:hover{
	text-decoration: none;
	color: #F39C12;
}

.content{
	padding-left: 300px;
}

.content h3{
	font-weight: 700;
}

.content h2{
	font-weight: 700;
	color: #E74C3C;
	padding-top: 50px;
}

.content h4{
	padding-top: 20px;
}

hr{
	margin-top: 70px;
}

.phoniex{
	margin-top: 25px;
	border: 1px solid #f8f8f8;
	position: relative;
}

.phoniex_menu{
	margin:  20px 100px;
	border: 0px solid #f8f8f8;
}
.phoniex_menu{
	position: relative;
	/*display: none;*/
}

.phoniex_menu > ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
}


.phoniex_menu > ul > li h4{
	margin-right: 50px;
	text-transform: uppercase;
	font-size: 20px;
	color: black;
	font-weight: 600;
}

.phoniex_menu > ul > li h5{
	margin-right: 50px;
	text-transform: uppercase;
	font-size: 20px;
	color: black;
	font-weight: 600;
}

.phoniex_menu > ul > li ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.phoniex_menu > ul > li ul li{
	margin-bottom: 10px;
}

.phoniex_menu > ul > li ul li a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}

.phoniex_menu .info-icon i{
	font-size: 25px;
}

.footer{
	height: 40px;
	line-height: 40px;
}