<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>QUẦN JEANS - H2TSTORE</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/danhmuc.css">
</head>

<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<a href="index.html"><img class="logo" src="../images/logo.png"></a>
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="index.html">SẢN PHẨM </i></a>
						<ul>
							<li><a href="sale75%.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="trangquan.html">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="quanshort.html">QUẦN SHORT</a></li>
									<li><a href="quanJean.html">QUẦN JEANS</a></li>
									<li><a href="quanJogger.html">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="quanTay.html">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="balotuixach.html">BALO - TÚI SÁCH</a></li>
							<li><a href="giayda.html">GIÀY DA</a></li>
							<li><a href="phukien.html">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="mix-match.html">MIX & MATCH</a></li>
					<li><a href="sale75%.html">SALE UP TO 75%</a></li>
					<li><a href="diachistrore.html">ĐỊA CHỈ STORE</a>
						<ul>
							<li><a href="diachiHN.html">HÀ NỘI</a></li>
							<li><a href="diachiBG.html">BẮC GIANG</a></li>
							<li><a href="diachiHP.html">HẢI PHÒNG</a></li>
							<li><a href="diachiTH.html">THANH HÓA</a></li>
							<li><a href="diachiQN.html">QUẢNG NINH</a></li>
							<li><a href="diachiCB.html">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="hdan-csach.html">H.DẪN - C.SÁCH</a></i>
						<ul>
							<li><a href="csdoitra.html">CS ĐỔI TRẢ</a></li>
							<li><a href="tknganhang.html">TK NGÂN HÀNG</a></li>
							<li><a href="index.html">KT ĐƠN HÀNG</a></li>
							<li><a href="index.html">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href="#"><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="trangdanhmuc.html">Danh mục</a></li>
			<li class="breadcrumb-item active" aria-current="page">QUẦN JEANS</li>
		</ol>
	</nav>
	<img src="../images/quan/quanJean/bannerJean.jpg" width="100%" alt="">
	<div class="section">
		<div class="title"><a href="#">QUẦN JEANS</a></div>
		<div class="upsale">
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/BentinoBlack.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans Bentino Black</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/Den60240.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans Đen 602.40</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/Jean0844.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans 0844</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/lightBlueRipped.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần light blue ripped</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/MiixDenimQ.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans miix denim Q</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
		</div>
		<div class="upsale">
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/MuslandRipped.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans Musland...</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/Q1020.jpg" alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans Q1020</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/SDBlackRipped.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans SDBlackRipped</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/SDBlueRipped.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans SDBlue Ripped</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/SimWoodDenim.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans SimWood...</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
		</div>
		<div class="upsale">
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/SWBlueRipped.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans SWBlueRipped</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
			<div class="card" style="width: 250px; height: 350px">
				<a href=""><img class="card-img-top" src="../images/quan/quanJean/XanhQ1024.jpg"
						alt="Card image cap"></a>
				<div class="card-body">
					<p class="card-text"><a href="#">Quần Jeans Xanh Q1024</a></p>
					<p class="card-price">464,000đ <del>580,000đ</del></p>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="information">
		<div class="phoniex">
			<div class="phoniex_menu">
				<ul>
					<li>
						<h4>CÔNG TY CỔ PHẦN THỜI <br> TRANG H2T VIỆT NAM</h4>
						<ul>
							<li>
								<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận
									Thanh Xuân, Hà Nội</a>
							</li>
							<li>
								<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
							</li>
							<li>
								<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch
									và đầu tư Hà Nội.</a>
							</li>
						</ul>
					</li>
					<li>
						<h4>Chính Sách</h4>
						<ul>
							<li><a href="csdoitra.html">CS ĐỔI TRẢ</a></li>
							<li><a href="tknganhang.html">TK NGÂN HÀNG</a></li>
							<li><a href="index.html">KT ĐƠN HÀNG</a></li>
							<li><a href="index.html">MEMBERSHIP</a></li>
						</ul>
					</li>
					<li>
						<h4>Cửa Hàng</h4>
						<ul>
							<li><a href="diachiHN.html">HÀ NỘI</a></li>
							<li><a href="diachiBG.html">BẮC GIANG</a></li>
							<li><a href="diachiHP.html">HẢI PHÒNG</a></li>
							<li><a href="diachiTH.html">THANH HÓA</a></li>
							<li><a href="diachiQN.html">QUẢNG NINH</a></li>
							<li><a href="diachiCB.html">CAO BẰNG</a></li>
						</ul>
					</li>
					<li>
						<h5>Tư vấn khách hàng</h5>
						<ul>
							<li>
								<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
							</li>
							<li>
								<a href="">Tất cả các ngày trong tuần</a>
							</li>
							<li>
								<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
							</li>
							<li class="info-icon">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-youtube"></i>
								<i class="fab fa-facebook-messenger"></i>
							</li>
						</ul>
					</li>
					<li>
						<h5>Chăm sóc khách hàng</h5>
						<ul>
							<li>
								<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
							</li>
							<li>
								<a href="">Tất cả các ngày trong tuần</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<hr>
			<div class="footer">
				<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
			</div>
		</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>

</html>