<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trang áo</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/trangao.css">
</head>

<body>
	<div class="header">
		<div class="head-top">
			<p>Miễn phí vận chuyển với đơn hàng trên 500K</p>
		</div>
		<div class="head-bottom">
			<div class="col-2">
				<a href="index.html"><img class="logo" src="../images/logo.png"></a>
			</div>
			<div class="navbar col-3 col-lg-8">
				<ul class="menu">
					<li><a href="index.html">SẢN PHẨM </i></a>
						<ul>
							<li><a href="sale75%.html">SALE OFF 75%</a></li>
							<li><a href="trangao.html">ÁO</a>
								<ul class="menu-sub-1">
									<li><a href="aothun.html">ÁO THUN</a></li>
									<li><a href="aopolo.html">ÁO POLO</a></li>
									<li><a href="aobalo.html">ÁO BA LỖ</a></li>
									<li><a href="aosomi.html">ÁO SƠ MI</a></li>
									<li><a href="aovest.html">ÁO VEST</a></li>
								</ul>
							</li>
							<li><a href="trangquan.html">QUẦN</a>
								<ul class="menu-sub-2">
									<li><a href="quanshort.html">QUẦN SHORT</a></li>
									<li><a href="quanJean.html">QUẦN JEANS</a></li>
									<li><a href="quanJogger.html">QUẦN JOGGER_QUẦN DÀI</a></li>
									<li><a href="quanTay.html">QUẦN TÂY_QUẦN KAKI</a></li>
								</ul>
							</li>
							<li><a href="balotuixach.html">BALO - TÚI SÁCH</a></li>
							<li><a href="giayda.html">GIÀY DA</a></li>
							<li><a href="phukien.html">PHỤ KIỆN KHÁC</a></li>
						</ul>
					</li>
					<li><a href="mix-match.html">MIX & MATCH</a></li>
					<li><a href="sale75%.html">SALE UP TO 75%</a></li>
					<li><a href="diachistrore.html">ĐỊA CHỈ STORE</a>
						<ul>
							<li><a href="diachiHN.html">HÀ NỘI</a></li>
							<li><a href="diachiBG.html">BẮC GIANG</a></li>
							<li><a href="diachiHP.html">HẢI PHÒNG</a></li>
							<li><a href="diachiTH.html">THANH HÓA</a></li>
							<li><a href="diachiQN.html">QUẢNG NINH</a></li>
							<li><a href="diachiCB.html">CAO BẰNG</a></li>
						</ul>
					</li>
					<li><a href="hdan-csach.html">H.DẪN - C.SÁCH</a></i>
						<ul>
							<li><a href="csdoitra.html">CS ĐỔI TRẢ</a></li>
							<li><a href="tknganhang.html">TK NGÂN HÀNG</a></li>
							<li><a href="index.html">KT ĐƠN HÀNG</a></li>
							<li><a href="index.html">MEMBERSHIP</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="icon col-3">
				<ul>
					<li><a href="#"><i class="fas fa-search"></i></a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></a></li>
					<li><a href="#"><i class="fal fa-shopping-bag"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="trangdanhmuc.html">Danh Mục</a></li>
			<li class="breadcrumb-item active" aria-current="page">Áo</li>
		</ol>
	</nav>
	<div class="banner">
		<img src="../images/banner.png" width="100%" alt="not">
	</div>
	<section class="section-body">
		<div class="title"><a href="#">ÁO</a></div>
		<div class="product-grid">
			<div class="img-h">
				<a href="aosomims1415.html"><img id="img-somi" onmousemove="changeImg(this)" onmouseout="backImg(this)"
						src="../images/AoSoMi/mslandslimfit1415.jpg" alt="not"></a><br>
				<a href="aosomims1415.html">so mi musland slim fit 1415</a>
				<span class="money-red">348,000đ</span>&nbsp;<del>435,000đ</del>
			</div>
			<div class="img-h">
				<a href="aosomibritish1426.html"><img src="../images/AoSoMi/Britishclassics1426.jpg" alt="not"></a><br>
				<a href="aosomibritish1426.html">áo sơ mi british classic 1426</a>
				<span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h img-thun1017"><a href="#"><img src="../images/AoSoMi/SimwoodDenimblue.jpg"
						alt="not"></a><br>
				<a href="#">áo sơ mi simwood 1295</a>
				<span class="money-red">360,000đ</span>
			</div>
			<div class="img-h"><a href="#"><img src="../images/AoSoMi/CocBentino.jpg" alt="not"></a><br>
				<a href="#">áo sơ mi cộc tay bentino 1472</a>
				<span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h"><a href="#"><img src="../images/AoSoMi/Easyclean.jpg" alt="not"></a><br>
				<a href="#">áo sơ mi EASY CLEAN 1453</a>
				<span class="money-red">316,000đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h"><a href="aopolopaul.html"><img src="../images/AoPolo/poloPaul.jpg" alt="not"></a><br>
				<a href="aopolopaul.html">áo polo paul thomas 1411</a>
				<span class="money-red">308,000đ</span>&nbsp;<del>370,000đ</del>
			</div>
			<div class="img-h"><a href="aopoloap1028.html"><img src="../images/AoPolo/phongPolo.jpg" alt="not"></a><br>
				<a href="aopoloap1028.html">Áo phông polo nam AP 1208</a>
				<span class="money-red">280,000đ</span>&nbsp;<del>350,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="aopolothomas1467.html"><img src="../images/AoPolo/poloH2T.jpg"
						alt="not"></a><br>
				<a href="aopolothomas1467.html">áo polo paul thomas 1467</a>
				<span class="money-red">62,500đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="#"><img src="../images/sale/poloAT.jpg" alt="not"></a><br>
				<a href="#">Áo phông polo cao cấp aT</a>
				<span class="money-red">123,750đ</span>&nbsp;<del>495,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="#"><img src="../images/AoPolo/poloH2TAP.jpg" alt="not"></a><br>
				<a href="#">Áo polo musland embrossed</a>
				<span class="money-red">208,000đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="#"><img src="../images/aothun/aothunGAIETY.jpg" alt="not"></a><br>
				<a href="#">ao thun GAIETY 1407</a>
				<span class="money-red">98,750đ</span>&nbsp;<del>395,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="#"><img src="../images/aothun/aothunPrinted.jpg" alt="not"></a><br>
				<a href="#">áo thun printed 1423</a>
				<span class="money-red">236,000đ</span>&nbsp;<del>295,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="#"><img src="../images/aothun/aothunStriped.jpg" alt="not"></a><br>
				<a href="#">áo thun striped horizontal</a>
				<span class="money-red">236,000đ</span>&nbsp;<del>295,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="#"><img src="../images/aothun/aothunToTheNorth.jpg"
						alt="not"></a><br>
				<a href="#">áo thun sw91 to the north</a>
				<span class="money-red">228,000đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="#"><img src="../images/aothun/aothunSw91.jpg" alt="not"></a><br>
				<a href="#">áo thun to the north 1464</a>
				<span class="money-red">228,000đ</span>&nbsp;<del>305,000đ</del>
			</div>
			<div class="img-h img-tank1439"><a href="aobalotank1440.html"><img src="../images/AoBaLo/tanktop1440.jpg"
						alt="not"></a><br>
				<a href="aobalotank1440.html">áo ba lỗ tank top 1440</a>
				<span class="money-red">148,000đ</span>&nbsp;<del>205,000đ</del>
			</div>
			<div class="img-h mg-tank1440"><a href="#"><img src="../images/AoBaLo/tanktop1439.jpg" alt="not"></a><br>
				<a href="#">áo ba lỗ tank top 1439</a>
				<span class="money-red">200,000đ</span>&nbsp;<del>250,000đ</del>
			</div>
			<div class="img-h img-striped"><a href="#"><img src="../images/AoBaLo/PrintedSymmetries1444.jpg"
						alt="not"></a><br>
				<a href="#">áo ba lỗ printed symmetries 1444</a>
				<span class="money-red">80,000đ</span>&nbsp;<del>320,000đ</del>
			</div>
			<div class="img-h img-thun-sw91"><a href="#"><img src="../images/aothun/aothunKDphoiMau.jpg"
						alt="not"></a><br>
				<a href="#">áo thun kD phối màu</a>
				<span class="money-red">204,000</span>&nbsp;<del>255,000đ</del>
			</div>
			<div class="img-h img-thun1464"><a href="#"><img src="../images/aothun/aothunSportShirt.jpg"
						alt="not"></a><br>
				<a href="#">áo thun sports shirt 1442</a>
				<span class="money-red">156,000đ</span>&nbsp;<del>195500,000đ</del>
			</div>
	</section>
	<div class="information">
		<div class="phoniex">
			<div class="phoniex_menu">
				<ul>
					<li>
						<h4>CÔNG TY CỔ PHẦN THỜI <br> TRANG H2T VIỆT NAM</h4>
						<ul>
							<li>
								<a href="">Địa chỉ: Số 1, ngõ 40, tổ 14 phố Nguyễn Thị Định,<br> Phường Nhân Chính, Quận
									Thanh Xuân, Hà Nội</a>
							</li>
							<li>
								<a href="">Người đại diện: NGÔ TRÍ TÙNG</a>
							</li>
							<li>
								<a href="">Mã số thuế: 0106533311, ngày cấp ĐKKD <br> 08/05/2014. Nơi cấp: Sở kế hoạch
									và đầu tư Hà Nội.</a>
							</li>
						</ul>
					</li>
					<li>
						<h4>Chính Sách</h4>
						<ul>
							<li><a href="csdoitra.html">CS ĐỔI TRẢ</a></li>
							<li><a href="tknganhang.html">TK NGÂN HÀNG</a></li>
							<li><a href="index.html">KT ĐƠN HÀNG</a></li>
							<li><a href="index.html">MEMBERSHIP</a></li>
						</ul>
					</li>
					<li>
						<h4>Cửa Hàng</h4>
						<ul>
							<li><a href="diachiHN.html">HÀ NỘI</a></li>
							<li><a href="diachiBG.html">BẮC GIANG</a></li>
							<li><a href="diachiHP.html">HẢI PHÒNG</a></li>
							<li><a href="diachiTH.html">THANH HÓA</a></li>
							<li><a href="diachiQN.html">QUẢNG NINH</a></li>
							<li><a href="diachiCB.html">CAO BẰNG</a></li>
						</ul>
					</li>
					<li>
						<h5>Tư vấn khách hàng</h5>
						<ul>
							<li>
								<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
							</li>
							<li>
								<a href="">Tất cả các ngày trong tuần</a>
							</li>
							<li>
								<b><a href="">KẾT NỐI VỚI CHÚNG TÔI</a></b>
							</li>
							<li class="info-icon">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-instagram"></i>
								<i class="fab fa-youtube"></i>
								<i class="fab fa-facebook-messenger"></i>
							</li>
						</ul>
					</li>
					<li>
						<h5>Chăm sóc khách hàng</h5>
						<ul>
							<li>
								<a href=""><i class="fas fa-phone-alt"> </i>098.126.8187</a>
							</li>
							<li>
								<a href="">Tất cả các ngày trong tuần</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<hr>
			<div class="footer">
				<center>Copyright © 2021 H2TSTORE. Powered by Haravan</center>
			</div>
		</div>
</body>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/popper.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap4/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/trangchu.js"></script>

</html>